body {
    font-family:"Arial";
}

.pattern {
    font-family:"Lucida Console";
    font-weight:bold;
}
.spacename {
    font-family:"Lucida Console";
    font-weight:bold;
    font-style:italic;
}
.string {
    font-family:"Lucida Console";
    color:#109000;
}

.warn {
    color:#EE0000;
    font-weight:bold;
}
.notabene {
    text-align:right;
    font-style:italic;
}
.title_ex {
    font-weight:bold;
    font-style:italic;
}
.ex {
    margin: 5px 20%;
    padding: 5px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-style:solid;
}

.deep {
    border-top-width:0px;
    border-bottom-width:0px;
    border-right-width:0px;
    border-left-width:2px;
    border-style:solid;
    padding: 5px;
    margin: 5px;
}
.rule_list {
    font-size:18px;
}